<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7996a0">  <td>18/07/15 22:30:04</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ConfigFileTests.jsonTest()[pri:0, instance:com.testtech.configTest.ConfigFileTests@457e2f02]">jsonTest</td> 
  <td>main@1072601481</td>   <td></td> </tr>
<tr bgcolor="7996a0">  <td>18/07/15 22:30:06</td>   <td>1185</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ConfigFileTests.yamlTest()[pri:0, instance:com.testtech.configTest.ConfigFileTests@457e2f02]">yamlTest</td> 
  <td>main@1072601481</td>   <td></td> </tr>
</table>
